.block {
	width: 50px;
	height: 50px;
	display: inline-block;
	background-color: #888;	
	transition: all 0.2s linear ;
	margin: 15px;
	
}

.block:hover {
	border-radius: 50%;
	background-color: #62D;
	transform: rotate(45deg);
	transition: all 0.2s linear ;
}

